In [1]:
import random, requests, hashlib, base64, time
import json
import re
#from HTMLParser import HTMLParser
from bs4 import BeautifulSoup, NavigableString, Tag
from bs4 import BeautifulSoup as BS
from bs4 import Comment
import csv
import sys
import unicodedata
import datetime
#import arrow
import urllib
import pandas as pd
import numpy as np
import urllib
import urllib.request
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
reader = pd.read_csv("datasets/companies_sorted.csv",low_memory=True, chunksize=10**4)
df = pd.concat([x for x in reader], ignore_index=True)
print('complete')

complete

In [ ]:
df.sort_values(by='current employee estimate', ascending=False).head()

In [ ]:
#value counts
print(df['size range'].value_counts())
print()
print(df['country'].value_counts())
print()
print(df['industry'].value_counts())
print()
print(df['year founded'].value_counts(bins=10))
print()
print(df['current employee estimate'].value_counts(bins=10))

In [3]:
df['is_ss'] = np.nan
#df.at[4831970, 'is_ss'] = 1
df[df['name'].str.contains('fotio', na=False, regex=False)]

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate,is_ss
1386515,4131309,fotiou frames limited,fotiou.com,NaN,consumer goods,1 - 10,"vaughan, ontario, canada",canada,linkedin.com/company/fotiou-frames-limited,5,7,NaN
4831970,689172,fotio,fotio.co,2012.0,photography,1 - 10,NaN,NaN,linkedin.com/company/fotio,1,1,NaN
4899621,39906,f.g.fotiou developments & constructions ltd,fgfotiou.com,1980.0,construction,1 - 10,"mesa geitonia, limassol, cyprus",cyprus,linkedin.com/company/f-g-fotiou-developments-&...,1,3,NaN

In [4]:
for row in df[df.index <= 5].itertuples():
    print(row.Index, row.domain)

0 ibm.com
1 tcs.com
2 accenture.com
3 goarmy.com
4 ey.com
5 hpe.com

In [6]:
#print(df[df.index < 10
dfa = df
dfa = df[df['name'] == 'fotio']
df = df.sort_values(by='current employee estimate', ascending=True).reset_index(drop=True)
#print(df)
adjustment = 1000 + 5000
counter = adjustment
for row in df[(df.index >= counter) & (df.index < counter + 1000000) ].itertuples():
    if row.domain == 'nan':
        continue
    else:
        try:
            url2 ='https://' + str(row.domain)
            url = urllib.request.urlopen(url2)
            s = url.read()
            soup = BeautifulSoup(s, 'html.parser')
            comments = soup.find_all(string=lambda text: isinstance(text, Comment))
            #print('start')
            for c in comments:
                if "Squarespace" in c:
                    print(str(i.name) + ": YESS")
                    df.at[row.Index, 'is_ss'] = 1
                    break
            #print(url2)                
            #print('finish')    


        except:
            try:
                url2 ='http://' + str(row.domain)
                #print(url2)
                url = urllib.request.urlopen(url2)
                s = url.read()
                soup = BeautifulSoup(s, 'html.parser')
                comments = soup.find_all(string=lambda text: isinstance(text, Comment))
                for c in comments:
                    if "Squarespace" in c:
                        print(str(i.name) + ": YESS")
                        df.at[row.Index, 'is_ss'] = 1
                        break
            except:
                pass
        
    counter += 1
    if counter == 1 + adjustment:
        print(counter)
    elif counter == 10 + adjustment:
        print(counter)
    elif counter == 100 + adjustment:
        print(counter)
    elif counter == 500 + adjustment:
        print(counter)
    elif counter == 1000 + adjustment:
        print(counter)
    elif counter % 10000 == 0:
        print(counter)
    elif counter % 100000 == 0:
        print(counter)

1010
1100

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

1500
2000

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

In [14]:
df[(df['is_ss'] == 1) | (df['name'] == 'fotio')]

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate,is_ss
117,2808661,latent image,latentimage.dk,NaN,media production,1 - 10,"seattle, washington, united states",united states,linkedin.com/company/latent-image,0,1,1.0
139,7078337,aesthetic distance,aestheticdistance.com,NaN,NaN,1 - 10,NaN,NaN,linkedin.com/company/aesthetic-distance,0,1,1.0
163,137662,dan carter advisors cpa plc,dancarteradvisors.com,2012.0,accounting,1 - 10,"grand rapids, michigan, united states",united states,linkedin.com/company/dan-carter-advisors-cpa-plc,0,1,1.0
261,4308506,18 hubbard street llc,henrys-chicago.com,NaN,NaN,1 - 10,"chicago, illinois, united states",united states,linkedin.com/company/18-hubbard-street-llc,0,1,1.0
412,137457,advanced derma laser tech,advanceddermalaser.com,1999.0,cosmetics,1 - 10,"new york, new york, united states",united states,linkedin.com/company/advanced-derma-laser-tech...,0,1,1.0
654,137591,belton church of christ,beltonchurch.com,NaN,religious institutions,1 - 10,"belton, missouri, united states",united states,linkedin.com/company/belton-church-of-christ,0,1,1.0
780,7073873,monroe covenant church,monroecov.org,NaN,religious institutions,1 - 10,"monroe, washington, united states",united states,linkedin.com/company/monroe-covenant-church,0,1,1.0
3082880,689172,fotio,fotio.co,2012.0,photography,1 - 10,NaN,NaN,linkedin.com/company/fotio,1,1,NaN

In [ ]:
url2= 'https://www.fotio.co/'
with urllib.request.urlopen(url2) as url:
    s = url.read()
    #data = json.loads(url.read())
    #pr = requests.get(url2)
    #data = json.loads(s)
    #print(s)
    soup = BeautifulSoup(s, 'html.parser')
    comments = soup.find_all(string=lambda text: isinstance(text, Comment))
    for c in comments:
        print(c)
        print("===========")
        c.extract()
        if "Squarespace" in c:
            #element = soup.find("script", data-name="static-context")
            #print(element.attrs["Static.SQUARESPACE_CONTEXT"])
            break